// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$text: #5d576b;
$primary: #F7567C;
$secondary: #99E1D9;
$tertiary: #FFFAE3;
$background: #FCFCFC;


// Dark mode colors
$text_dark: white;
$primary_dark: #F7567C;
$secondary_dark: #99E1D9;
$tertiary_dark: #FFFAE3;
$background_dark: #5d576b;
