.grid-container{
	margin-top: 1.5rem;
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	& .grid{
		width: 90%;
		display: grid;
		justify-content: space-evenly;
		grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
		gap: 15px;

		@include media(xs){
			grid-template-columns: repeat(auto-fit, 90vw);
		}
	}
}

.aligned{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.post{
	border-radius: 7px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	background-color: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,0.2);
	position: relative;
	border-radius: 7px;
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 7px;
	}

	.content{
		position: absolute;
		width: 100%;
		height: 6rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		padding-left: 0.5em;
		bottom: 0;
		left: 0;
		backdrop-filter: blur(17px) saturate(110%);
		background-color: rgba(white, 0.6);
		border-radius: 0 0 7px 7px ;


		& a{
			font-size: 3rem;
			font-weight: 800;
		}
	}
}