.side-nav-layout{
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;


	& .sidemenu{
		width: 35%;
		height: 100%;
		border: solid 1px red;
	}

	& .content{
		width: 65%;
		height: 100%;
		border: solid 1px blue;	
	}
}