.side-nav-layout{
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	@include media(xs){
		flex-direction: column;
	}
	@include media(sm){
		flex-direction: column;
	}


	& .mobile-menu-overlay{
		display: none;
		&.dismissable{
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 50vw;
			height: 100vh;
			float: right;
			z-index: 3;
			background-color: rgba(0,0,0,0.40);
			animation: menu-slide linear .6s;
			@supports(backdrop-filter: blur(7px)){
				backdrop-filter: blur(7px) saturate(110%);
			}
		}
	}


	& .sidemenu{
		width: 25%;
		height: 100%;
		padding: 1.5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		@media (prefers-color-scheme: dark) {
			background-color: lighten($background_dark, 4.5);
		}
		@media (prefers-color-scheme: light) {
			background-color: darken($background, 1.5);
		}

		&.mobile-open{
			display: flex !important;
			width: 50vw;
			position: absolute !important;
			top: 0;
			left: 0;
		}

		@include media(xs){
			display: none;
		}
		@include media(sm){
			display: none;
		}

		& .user_profile{
			width: 100%;
			padding-left: 1em;
			height: 25%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-evenly;
			& img{
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
			& button{
				background-color: $background;
				color: $text;
			}
		}

		& .links{
			width: 100%;
			padding-left: 1em;
			height: 70%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-evenly;

			& li{
				list-style: none;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
				padding: 1em 0.5em;
				width: 90%;
				border-radius: 14px;

				&:hover{
					@media (prefers-color-scheme: dark) {
						background-color: lighten($background_dark, 8.5);
					}
					background-color: darken($background, 3.5);

					& svg{
						opacity: 1;
						transition: ease-in-out .2s;
					}
				}
				&.active{
					& svg{
						fill: $secondary;
						opacity: 1 !important;
					}
					@media (prefers-color-scheme: dark) {
						background-color: lighten($background_dark, 6.5);
					}
					background-color: darken($background, 3.5);
				}

				& svg{
					fill: $primary;
					opacity: 0.5;
					transition: ease-in-out .2s;
				}
			}
		}
	}

	& .content{
		width: 100%;
		@include media(md){
			width: 75%;
		}
		
		& .in-content-navigation{
			height: 10vh;
			width: 100%;
			display: flex;
			flex-direction: row;
			padding: 1em 0.5em;
			align-items: center;
			justify-content: space-evenly;

			& .welcome-text{
				max-width: 35%;
				& p{
					text-overflow: ellipsis;
				}
				& p{
					font-weight: 700;
					color: $text;
					@media (prefers-color-scheme: dark) {
						color: $text_dark;
					}
					@media (prefers-color-scheme: light) {
						color: $text;
					}
					& span{
						font-weight: 600;
						color: lighten($text, 25.5);
					}
				}
			}

			& .menu-icon{
				& svg{
					@media (prefers-color-scheme: dark) {
						fill: $secondary;
					}
					@media (prefers-color-scheme: light) {
						fill: $primary;
					}
				}
				visibility: hidden;
				@include media(xs){
					visibility: visible;
					width: 10%;
				}
				@include media(sm){
					display: flex;
					visibility: visible;
				}
			}

			& .searchbar{
				display: flex;
				flex-direction: row;
				width: 35%;
				border-radius: 7px;
				box-shadow: 0 4px 16px rgba(0,0,0,0.15);
				@include media(xs){
					width: 45%;
				}
				@include media(sm){
					width: 45%;
				}
				& input{
					width: 85%;
					font-size: 16px;
					font-weight: 500;
					background-color: transparent;
					outline: none;
					padding: 0.5em 1em;
					@include media(xs){
						width: 75%;
					}
					@include media(sm){
						width: 75%;
					}
					&:focus{
						outline: none;
					}
				}

				& button{
					border-radius: 0 7px 7px 0;
					width: 15%;
					border: none;
					display: flex;
					align-items: center;
					justify-content: center;
					@include media(xs){
						width: 25%;
					}
					@include media(sm){
						width: 25%;
					}
					@media (prefers-color-scheme: dark) {
						background-color: $secondary;
						padding: 0;
						margin: 0;
					}
					@media (prefers-color-scheme: light) {
						background-color: $primary;
					}
					& svg{
						transform: scale(0.7);
						fill: white;
						padding: 0;
						margin: 0;
					}
				}
			}

		}
	}
}

@keyframes menu-slide{
	from{
		backdrop-filter: blur(0px) saturate(100%);
	}
	to{
		backdrop-filter: blur(7px) saturate(110%);
	}
}